@{
	ViewData["Title"] = "Mock CAS Logout";
}
<h1>Single Sign-on (SSO) Not Supported</h1>
<p>
	This mock CAS server does not support single sign-on (SSO) and therefore<br>
	cannot maintain state about previously authenticated users. As a result,<br>
	&ldquo;logging out&rdquo; is not a supported action and does not perform any action.
</p>