<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0,width=device-width">
	<title>@ViewData["Title"]</title>
	@RenderSection(name: "Head", required: false)
</head>
<body>
	@RenderBody()
	@RenderSection(name: "Scripts", required: false)
</body>
</html>
