@model Server.Models.Login.LoginModel
@{
	ViewData["Title"] = "Mock CAS Login";
}
@section Head
{
	<style type="text/css">
		.error-message {
			color: red;
			font-weight: bold;
		}
		.success-message {
			color: darkgreen;
			font-weight: bold;
		}
	</style>
}
<form asp-action="Login" asp-controller="Login" method="post">
	<h1>Login</h1>
	<br>
	<strong>Username:</strong> <input asp-for="Username" type="text"><br>
	<br>
	<strong>Password:</strong> <input asp-for="Password" type="password"><br>
	<br>
	<input type="submit" value="Log In">
</form>
<br>
<div class="error-message" @(Model.HasError ? String.Empty : "hidden=\"hidden\"")>
	@Model.ErrorMessage
</div>
<div class="success-message" @(Model.HasSuccess ? String.Empty : "hidden=\"hidden\"")>
	@Model.SuccessMessage
</div>